@import "materialize/components/color";
$primary-color: white !default;
@import "materialize";

$primary-text: #2d2d2d;
$primary-body: #EF2C32;

.navbar a:link {
  color: $primary-text;
}
.nav-wrapper i {
  color: $primary-text;
}

nav {
  height: 70px;
}

.active {
  background-color:  $primary-body !important;
}

.blurbs {
  margin-top: 5vh;
}


