@import "materialize/components/color";
$primary-color: white !default;
@import "materialize";

$primary-text: #2d2d2d;

.navbar a:link {
  color: $primary-text;
}
.nav-wrapper i {
  color: $primary-text;
}

nav {
  height: 70px;
}
